# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# Build
/public/build
/public/hot

# Storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage
/public/storage

# Cache
/bootstrap/cache/*.php
.phpunit.result.cache
/.phpunit.cache

# IDEs
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS
.DS_Store
Thumbs.db

# Others
*.log
/auth.json
Homestead.json
Homestead.yaml
/database/*.sqlite




